<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NLP demo</title>
</head>
<body>
<form method="post">
    <select id="model_name" name="model_name">
        {% for m in model_names %}
        <option value={{m}}
        
        {% if m == model_name %} selected {% endif %}        

        >{{m}}</option>
        {% endfor %}
    </select>
    <br/>
    <textarea name="text" rows="10" cols="60">{{ text }}</textarea>
    <br/>
    <input type="submit">
</form>




{% if info %}
<h1>Info</h1>
<ul>
    <li>time: {{ info['time'] }} sec</li>
    <li>task: {{ info['task'] }}</li>
    <li>model: {{ info['model'] }}</li>
    <li>input: {{ info['input'] }}</li>
</ul>
<h1>Result</h1>
<b>{{ result }}</b>
{% endif %}
</body>
</html>